.a_content{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin: 12vw 0 12vw 0;
}
@media (max-width: 768px) {
  .a_content{
    flex-direction: column;
    margin-top: 35vh;
    margin-bottom: 35vh;
    justify-items: center;
  }
 
}

.a_content a{
  text-decoration: none;
}

.a_card{
  width: 26vw;
  height: 27vw;
  border: solid 1px rgba(0, 0, 0, 0.39);
  border-radius: 0.5vw;
  filter: opacity(90%);
  transition: filter .3s ease;
  padding: 0%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 0 !important;
}
@media (max-width: 768px) {
  .a_card{
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 87vw !important;
    border-radius: 15px;
    padding: 0;
  }
}

.a_card:hover{
  filter: opacity(100%);
}

.a_card img{
  width: auto;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
@media (max-width: 768px) {
  .a_card img{
    width: auto;
   height: 100%;
  object-fit: cover;
  overflow: hidden;
  }

  .a_card{
    filter: none;
  }
}

#a_Pareuko{height: 100%;}
#a_Pangyo{width: 100%;}
#a_Oreno{width: 100%; display: block;}
@media (max-width: 768px){
  #a_Pareuko{width: 100%;}
  #a_Pangyo{width: 100%;}
  #a_Oreno{width: 100%}
}


.a_card h1{
  position: absolute;
  bottom: 2px;
  align-self: center;
  font-family: 'EB';
  font-weight: lighter;
  font-size: clamp(1rem, 1.06vw - 0.092rem, 1.25rem);
  letter-spacing: 0.7;
  color: black;
}
@media (max-width: 768px) {
  .a_card h1{
    position: relative;
    text-decoration: none;
    line-height: 0;
  }
}




