@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}



.pro_content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  opacity: 1;
}

.pro_sub{
  display: block;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
  gap:1vw;
  height: 150vw;
  }

#CAD{
  height: 100vh;
}

#Material,#Construction{
  height: auto;
}


#modelContainer{
  width: 100%;
  height: 80vh;
  overflow: hidden;
  justify-content: center;
  cursor: move;
}


.pro_fixed_wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 13vh;
  justify-content: center;
  align-items: center;
  }

.pro_title{
  padding-top: 0;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.pro_sub h1{
  font-family:'EB';
  font-size: 22px;
  padding: 0 25% 0 25%;
  line-height: 0;
  font-weight:lighter;
}

.pro_sub p{
  padding: 0 20% 0 20%;
  font-family:'EB';
  font-size: clamp(15px, 2.2vh + 2px, 18px) !important;
  text-align: center;
  font-weight: 1;
  letter-spacing: .02em;
}

.pro_animation_wrapper{
  display: flex;
  flex-direction: column;
  height: 225vh;
  width: 100%;
  position: relative;
  padding-top: 15vh;
  align-items: center;
}


.pro_images {
  position: relative; /* Ensure the images are contained */
  width: 100%; /* Prevent horizontal overflow */
  height: 50vh; /* Adjust height to fit the content */
  overflow: hidden; /* Prevent any horizontal scrolling */
  align-self: center;
  margin-top: 8vh;
}

.pro_images img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block !important;
  filter: grayscale(100%);
}

#stumpIMG {
  height: 30vh;
}



.hand-drawn-svg{
  width: 30vw;
  height: auto;
  padding-left: 3%;
  position: sticky;
  top: 25vh;
}
@media (max-width: 768px) {
  .hand-drawn-svg{
    width: 80%;
    height: auto;
    top: 38%;
  }
}

.path{
  opacity: 0;
}







